hr {
    margin: 0;
}

.rodape {
    background-color: var(--bg-white);
    padding: 1rem 0;
    
}

.rodape__titulo {
    margin: 2rem 2rem;
}

.lista-rodape {
    display: none;
    margin: 2rem 0;
}

@media screen and (min-width: 1024px) {
    
    .rodape {
        display: flex;
        justify-content: space-around; 
    } 

    .rodape__titulo {
        font-size: 1.7rem;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        color: var(--gray-light);
        font-size: 1rem;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 1rem 0;
    }

    .lista-rodape__link {
        color: var(--grey);
        text-decoration: none;
    }


}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--gray-light);
        padding-left: 2rem;
    }

    .rodape {
        padding: 3rem 0; 
    }
}

