@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --bg-color: #EBECEE;
    --bg-white: #FFFFFF;
    --hl-orange: #EB9B00;
    --dark-blue: #002F52;
    --black: #000000;
    --gray: #464646;
    --gray-light: #858585;
    --fade-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --main-font: 'Poppins', sans-serif;
    --header-font: 'Josefin Sans', sans-serif;
        
}


body {
    background-color: var(--bg-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1rem;
}
